In [3]:
import matplotlib.pyplot as plt
from pprint import pp
from preprocessing_to_pandas_stuff import create_dataframes

In [4]:
dataframes = create_dataframes()

In [5]:
vcb = dataframes["Vice Captain Boy"]

In [6]:
pp(vcb)

            Kausar Chandra  Sagnik Ghosh  Avaneesh Mahalle  Krishna Yadav  \
10A                      3             1                 3              3
10B                      3             1                 4              1
10C                      1             3                 4              2
10D                      4             2                 5              1
10E                      4             0                 6              2
10F                      0             4                 2              2
10G                      1             0                 7              1
10H                      0             0                 9              2
10I                      5             3                 7              2
10J                      6             2                 6              1
11A                      2             5                10              1
11B                      3             0                 1              1
11C                      0             0                 0              0
11D                      0             0                 0              0
11E                      2             0                 7              3
12A                      2             1                 0              1
12B                      1             0                 3              1
12C                      3             2                 0              0
12D                      3             1                 1              4
9A                       4             1                 2              3
9B                       6             0                 3              3
9C                       8             0                 6              3
9D                       0             2                13              7
9E                       2             1                 4              6
9F                       1             1                 7              5
9G                       5             0                 7              3
9H                       3             0                 5              4
9I                       3             1                 3              5
9J                       2             2                 3              8
absentees                5             2                 4              1
candidates               0             1                 4              1

            Viren Jadhav
10A                    0
10B                    1
10C                    4
10D                    1
10E                    0
10F                    3
10G                    2
10H                    0
10I                    0
10J                    0
11A                    3
11B                    0
11C                    0
11D                    0
11E                    0
12A                    0
12B                    1
12C                    3
12D                    0
9A                     6
9B                     1
9C                     4
9D                     0
9E                     3
9F                     4
9G                     1
9H                     3
9I                     4
9J                     6
absentees              3
candidates             1

In [7]:
seg = vcb.loc[vcb.index.str.startswith('11')]
print(seg)

     Kausar Chandra  Sagnik Ghosh  Avaneesh Mahalle  Krishna Yadav  \
11A               2             5                10              1
11B               3             0                 1              1
11C               0             0                 0              0
11D               0             0                 0              0
11E               2             0                 7              3

     Viren Jadhav
11A             3
11B             0
11C             0
11D             0
11E             0

In [8]:
kausar = seg["Kausar Chandra"]
pp(kausar)

11A    2
11B    3
11C    0
11D    0
11E    2
Name: Kausar Chandra, dtype: int64

In [9]:
# classes where candidates have votes 0

seg.loc[:,"Avaneesh Mahalle"]

11A    10
11B     1
11C     0
11D     0
11E     7
Name: Avaneesh Mahalle, dtype: int64

In [10]:
cb = dataframes["Captain Boy"]

In [11]:
print(cb)

            Aadityaraje Desai  Abhichandra Charke  Praneel Deshmukh  \
10A                         5                   3                 2
10B                         2                   2                 6
10C                         3                   7                 4
10D                         1                   3                 9
10E                         2                   1                 9
10F                         8                   0                 2
10G                         5                   1                 4
10H                         5                   1                 5
10I                         6                   4                 7
10J                         2                   2                11
11A                         9                   1                 9
11B                         2                   1                 1
11C                         0                   0                 0
11D                         0                   0                 0
11E                         4                   5                 3
12A                         3                   0                 1
12B                         1                   1                 1
12C                         0                   0                 8
12D                         4                   4                 1
9A                         10                   0                 5
9B                          9                   0                 4
9C                         10                   5                 3
9D                         12                   2                 7
9E                          3                   8                 5
9F                          8                   3                 7
9G                          6                   5                 4
9H                          2                   2                11
9I                         11                   0                 5
9J                          7                   3                10
absentees                   4                   6                 4
candidates                  4                   0                 3

            Rachit Srivastava
10A                         0
10B                         0
10C                         0
10D                         0
10E                         0
10F                         1
10G                         1
10H                         0
10I                         0
10J                         0
11A                         2
11B                         1
11C                         0
11D                         0
11E                         0
12A                         0
12B                         3
12C                         0
12D                         0
9A                          1
9B                          0
9C                          3
9D                          1
9E                          0
9F                          0
9G                          1
9H                          0
9I                          0
9J                          1
absentees                   1
candidates                  0

In [12]:
print(cb.sum())

Aadityaraje Desai     148
Abhichandra Charke     70
Praneel Deshmukh      151
Rachit Srivastava      16
dtype: int64

In [13]:
cb.max()

Aadityaraje Desai     12
Abhichandra Charke     8
Praneel Deshmukh      11
Rachit Srivastava      3
dtype: int64

In [14]:
# mean votes per class
cb.mean()

Aadityaraje Desai     4.774194
Abhichandra Charke    2.258065
Praneel Deshmukh      4.870968
Rachit Srivastava     0.516129
dtype: float64

In [15]:
cb.median()

Aadityaraje Desai     4.0
Abhichandra Charke    2.0
Praneel Deshmukh      4.0
Rachit Srivastava     0.0
dtype: float64

In [16]:
cb.mode()

   Aadityaraje Desai  Abhichandra Charke  Praneel Deshmukh  Rachit Srivastava
0                  2                   0                 4                  0

In [17]:
%pip install pandas

Requirement already satisfied: pandas in ./venv/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in ./venv/lib/python3.12/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# class where candidate scored the least
cb.idxmin()

Aadityaraje Desai     11C
Abhichandra Charke    10F
Praneel Deshmukh      11C
Rachit Srivastava     10A
dtype: object

In [ ]:
# class where candidate scored max
cb.idxmax()

Aadityaraje Desai      9D
Abhichandra Charke     9E
Praneel Deshmukh      10J
Rachit Srivastava     12B
dtype: object

In [23]:
# which candidate scored majority in a particular class
cb.idxmax(1).iloc[:10]

10A     Aadityaraje Desai
10B      Praneel Deshmukh
10C    Abhichandra Charke
10D      Praneel Deshmukh
10E      Praneel Deshmukh
10F     Aadityaraje Desai
10G     Aadityaraje Desai
10H     Aadityaraje Desai
10I      Praneel Deshmukh
10J      Praneel Deshmukh
dtype: object

In [24]:
# class where aditya scored max
cb["Aadityaraje Desai"].idxmax()

'9D'

In [25]:
cb.idxmax()["Aadityaraje Desai"]

'9D'

In [28]:
cb.max()

Aadityaraje Desai     12
Abhichandra Charke     8
Praneel Deshmukh      11
Rachit Srivastava      3
dtype: int64

In [30]:
cb.idxmax(1).iloc[:10]

10A     Aadityaraje Desai
10B      Praneel Deshmukh
10C    Abhichandra Charke
10D      Praneel Deshmukh
10E      Praneel Deshmukh
10F     Aadityaraje Desai
10G     Aadityaraje Desai
10H     Aadityaraje Desai
10I      Praneel Deshmukh
10J      Praneel Deshmukh
dtype: object

In [37]:
cb.loc["10B"]

Aadityaraje Desai     2
Abhichandra Charke    2
Praneel Deshmukh      6
Rachit Srivastava     0
Name: 10B, dtype: int64

In [ ]:
# which student got higheest marks in 10b
cb.loc["10B"].idxmax()

'Praneel Deshmukh'

In [39]:
cb

,Aadityaraje Desai,Abhichandra Charke,Praneel Deshmukh,Rachit Srivastava
10A,5,3,2,0
10B,2,2,6,0
10C,3,7,4,0
10D,1,3,9,0
10E,2,1,9,0
10F,8,0,2,1
10G,5,1,4,1
10H,5,1,5,0
10I,6,4,7,0
10J,2,2,11,0
11A,9,1,9,2
11B,2,1,1,1
11C,0,0,0,0
11D,0,0,0,0
11E,4,5,3,0
12A,3,0,1,0
12B,1,1,1,3
12C,0,0,8,0
12D,4,4,1,0
9A,10,0,5,1
9B,9,0,4,0
9C,10,5,3,3
9D,12,2,7,1
9E,3,8,5,0
9F,8,3,7,0
9G,6,5,4,1
9H,2,2,11,0
9I,11,0,5,0
9J,7,3,10,1
absentees,4,6,4,1
candidates,4,0,3,0

In [ ]:
# average votes per student
cb.mean()

Aadityaraje Desai     4.774194
Abhichandra Charke    2.258065
Praneel Deshmukh      4.870968
Rachit Srivastava     0.516129
dtype: float64

In [ ]:
# mode of votes per studnet
cb.mode()

   Aadityaraje Desai  Abhichandra Charke  Praneel Deshmukh  Rachit Srivastava
0                  2                   0                 4                  0

In [43]:
# median votes per student
cb.median()

Aadityaraje Desai     4.0
Abhichandra Charke    2.0
Praneel Deshmukh      4.0
Rachit Srivastava     0.0
dtype: float64

In [ ]:
hello